<head>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> {{ .Title }} </title>
    <meta name="description"
        content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}"
        property="og:description">

    
    {{ $style := resources.Get "style.css" | resources.Minify }}    
    <link rel="stylesheet" href="{{ $style.Permalink }}"> 
    
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hilmanski" />
    <meta name="twitter:creator" content="@hilmanski" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:title" content="{{ .Title }} " />
    <meta property="og:description"
        content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.Description }}{{ end }}" />
    <meta property="og:image" 
    content="{{if isset .Params "featured_image"}}{{.Params.featured_image}}
            {{else}}https://ogi.sh/article?title={{replace .Title "%20" " " }}&subtitle=@hilmanski&unsplashId=NBQhCKtg_9Y{{ end }}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

 
<header class="flex items-center justify-between">
    <h1 class="text-3xl text-rose-300 hover:text-rose-500 mr-3">
        <a href="/" class="flex items-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" 
                width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
                <line x1="13.5" y1="6.5" x2="17.5" y2="10.5"></line>
            </svg> 
            <span> Menulis</span>
        </a>
    </h1>
    <h2 class="italic text-rose-200">
        Tulisan tentang menulis
    </h2>
</header>