@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.single {
    font-family: 'PT Serif', serif;
}

.single p{
    margin-bottom: 15px;
}

.single li {
    list-style-type: disc;
    list-style-position: inside;
}

